:root {
  background-color: #0f172a;
  color: white;
}

@media (prefers-color-scheme: light) {
  :root {
  }
  a:hover {
  }
  button {
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}
